@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ffffff;
    color:#555;
    font-family:'Crafty Girls', cursive;
    overflow-x:hidden;
    text-align:center;
}

#inicio{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:35px;
}

.gif{
    width:240px;
    border-radius:20px;
}

button{
    padding:18px 45px;
    font-size:24px;
    border:none;
    border-radius:50px;
    background:#ff8fc4;
    color:white;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 8px 20px rgba(255,143,196,.35);
    font-family:'Crafty Girls', cursive;
}

button:hover{
    transform:scale(1.06);
}

#contenido{
    display:none;
    padding:60px 20px;
    animation:aparecer 1.2s;
}

h1{
    font-size:38px;
    color:#ff74ae;
    margin-bottom:28px;
    font-weight:normal;
}

p{
    p{
    max-width:900px;
    margin:0 auto 22px;
    font-size:18px;
    line-height:1.9;
    color:#555;

}

.imagenes{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.imagenes img{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.35s;
}

.imagenes img:hover{
    transform:scale(1.05);
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(35px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.heart{
    position:fixed;
    top:-20px;
    font-size:30px;
    animation:caer linear forwards;
    pointer-events:none;
    user-select:none;
}

@keyframes caer{
    to{
        transform:translateY(110vh);
        opacity:0;
    }
}

@media (max-width:768px){

    .gif{
        width:180px;
    }

    button{
        font-size:20px;
        padding:15px 35px;
    }

    h1{
        font-size:28px;
    }

    p{
        font-size:16px;
        line-height:1.8;
        padding:0 15px;
    }

    .imagenes{
        gap:15px;
    }

    .imagenes img{
        width:150px;
        height:150px;
    }

}

.final{
    margin-top:60px;
    margin-bottom:60px;
}

.firma{
    font-size:24px;
    color:#ff74ae;
    margin-bottom:25px;
}

.spotify{
    display:inline-block;
    background:#1DB954;
    color:white;
    text-decoration:none;
    padding:15px 28px;
    border-radius:40px;
    font-size:20px;
    transition:.3s;
}

.spotify:hover{
    transform:scale(1.05);
}
